body {
  margin: 0;
}

header {
  background: #4d97ff;
  display: flex;
}
header a {
  color: #fff;
  text-decoration: none;
}
header li {
  list-style: none;
}
header div.user div.message {
  color: #fff;
  background: ffa657;
  display: none;
}
header div.user div.message:hover {
  display: flex;
}
